.search-contacts {
    display: flex;
    background: rgb(43, 43, 43);
    border-radius: 50px;
    padding: 5px;
    width: auto;
}

.search-contacts__icon {
    width: 2em;
}

.search-contacts__input:focus-visible {
    outline: none;
}

.search-contacts__input {
    background: transparent;
    border: 0;
}