.contact-preview {
  display: flex;
  flex-direction: row;
}

.contact-preview__icon {
  height: 100%;
}

.contact-preview__info {
  padding-left: 20px;
}

.contact-preview__name {
  margin: 0;
}

.contact-preview__status {
  margin: 0;
}

.contact-preview__actions {
  margin-left: auto;
}

.contact-preview__other {
  width: 3em;
  padding: 5px;
  margin-left: auto;
  background: transparent;
  object-fit: fill;
}
