.contact {
    display: flex;
    justify-content: flex-start;
    width: auto;
}

.contact__icon {
    width: 3em;
    object-fit: fill;
}

.contact__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.contact__name {
    margin: 0;
}

.contact__status {
    margin: 0;
}

.contact__delete {
    width: 3em;
    padding: 5px;
    margin-left: auto;
    background: transparent;
    object-fit: fill;
}

.contact__delete:hover {
    outline: none;
}