#root {
  display: flex;
  flex-direction: row;
}

/* Side Bar */

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--background-color);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.groups {
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.profile-preview {
  display: flex;
  flex-direction: row;
}

/* Chat */

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
}

.contact-preview {
  display: flex;
  flex-direction: row;
}

.messages {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.message {
  display: flex;
  flex-direction: column;
}
