.send-message {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.send-message__input {
    width: 100%;
    border-radius: 50px;
}

.send-message__button {
    background: transparent;
    border: 0;
    border-radius: 50px;
}

.send-message__button:focus-visible {
    width: 2em;
    height: 2em;
}

.send-message__button-icon {
    width: 2em;
    height: 2em;
}
